#======= platform_app ==========

allow platform_app system_server:file { getattr open read };
allow platform_app wpa:file { getattr open read };
allow platform_app sdcardd:file { getattr open read };
allow platform_app themeservice_app:file { getattr open read };
allow platform_app untrusted_app:file { getattr open read };
allow platform_app init:file { getattr open read };
allow platform_app ueventd:file { getattr open read };
allow platform_app logd:file { getattr open read };
allow platform_app nfc:file { getattr open read };
allow platform_app system_app:file { getattr open read };
allow platform_app kernel:file { getattr open read };
allow platform_app radio:file { getattr open read };
allow platform_app vold:file { getattr open read };
allow platform_app bluetooth:file { getattr open read };
allow platform_app healthd:file { getattr open read };
allow platform_app lmkd:file { getattr open read };
allow platform_app servicemanager:file { getattr open read };
allow platform_app tee:file { getattr open read };
allow platform_app surfaceflinger:file { getattr open read };
allow platform_app mediaserver:file { getattr open read };
allow platform_app rfs_access:file { getattr open read };
allow platform_app rmt_storage:file { getattr open read };
allow platform_app netd:file { getattr open read };
allow platform_app debuggerd:file { getattr open read };
allow platform_app rild:file { getattr open read };
allow platform_app drmserver:file { getattr open read };
allow platform_app installd:file { getattr open read };
allow platform_app mm-qcamerad:file { getattr open read };
allow platform_app qmuxd:file { getattr open read };
allow platform_app wcnss_service:file { getattr open read };
allow platform_app zygote:file { getattr open read };
allow platform_app gatekeeperd:file { getattr open read };
allow platform_app perfprofd:file { getattr open read };
allow platform_app time_daemon:file { getattr open read };
allow platform_app location:file { getattr open read };
allow platform_app audiod:file { getattr open read };
allow platform_app sudaemon:file { getattr open read };
allow platform_app su:file { getattr open read };
allow platform_app keystore:file { getattr open read };
allow platform_app keystore:dir { search };
allow platform_app system_server:dir { search };
allow platform_app wpa:dir { search };
allow platform_app sdcardd:dir { search };
allow platform_app themeservice_app:dir { search };
allow platform_app untrusted_app:dir { search };
allow platform_app init:dir { search };
allow platform_app ueventd:dir { search };
allow platform_app logd:dir { search };
allow platform_app nfc:dir { search };
allow platform_app system_app:dir { search };
allow platform_app kernel:dir { search };
allow platform_app radio:dir { search };
allow platform_app vold:dir { search };
allow platform_app bluetooth:dir { search };
allow platform_app healthd:dir { search };
allow platform_app lmkd:dir { search };
allow platform_app servicemanager:dir { search };
allow platform_app tee:dir { search };
allow platform_app surfaceflinger:dir { search };
allow platform_app mediaserver:dir { search };
allow platform_app rfs_access:dir { search };
allow platform_app rmt_storage:dir { search };
allow platform_app netd:dir { search };
allow platform_app debuggerd:dir { search };
allow platform_app rild:dir { search };
allow platform_app drmserver:dir { search };
allow platform_app installd:dir { search };
allow platform_app mm-qcamerad:dir { search };
allow platform_app qmuxd:dir { search };
allow platform_app wcnss_service:dir { search };
allow platform_app zygote:dir { search };
allow platform_app gatekeeperd:dir { search };
allow platform_app perfprofd:dir { search };
allow platform_app time_daemon:dir { search };
allow platform_app location:dir { search };
allow platform_app audiod:dir { search };
allow platform_app sudaemon:dir { search };
allow platform_app su:dir { search };

